* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#body1{
  background-image: url('imagenes/arcoiris-promo.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 100vh;
  opacity: 1.0;
  text-align: center;
  background-repeat: no-repeat;
  
  color: white;
}
.imagencarrusel {
  max-height: 60vh;
  width: 100vw;
}
.sociales {
  height: 4rem;
  width: 4rem;
  
}
.redes img:hover{
  opacity: 0.3;
}
h2{
  color:blue;
}
.madimi-one-regular {
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-style: normal;
  
}
.playpen-sans{
  font-family: "Playpen Sans", cursive;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

/* header{
  max-height: 50vh;
}
main{
  max-height: 40vh;
}
footer{
  max-height: 10vh;
} */

/* section {
    display: flex;
    width: auto;
    height: 30vh;
    background-color: black;
  }
  section img {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    transition: 0.5s ease;
  }
  
  section img:hover {
    cursor: crosshair;
    object-fit: cover;
    width: 10vw;
    position: top center;
    opacity: 1;
    filter: contrast(120%);
  } */